<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.buddy">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_paw"
        android:label="BUDDY"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.dev.buddy.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dev.buddy.AddHistoryActivity" />
        <activity android:name="com.dev.buddy.AddPetActivity" />
        <activity android:name="com.dev.buddy.PetListActivity" />
        <activity android:name="com.dev.buddy.HistoryListActivity"/>
        <activity android:name="com.dev.buddy.HistoryListItemPage"/>
        <activity android:name="com.dev.buddy.HelpActivity"/>
    </application>

</manifest>